<section class="footer">
    <table class="contact">
      <tr><th> JD Facility </th><th>JD Hiring</th><th>CONTACTS</th></tr>
      <tr><td routerLink="/about"> About Us </td><td routerLink="/shoplogin">Free Listing</td><td routerLink="customer-care">Customer Care</td></tr>
      <tr><td routerLink="/shopping"> JD Shopping </td><td routerLink="job">Job Placements</td><td routerLink="rating">Rating</td></tr>
      <tr><td routerLink="/company"> JD Company </td><td routerLink="contact us">Contact Us</td><td routerLink="logistics">Logistics</td></tr>
    </table>

    <div class="social-media">
      <p>Follow Us On : </p>
      <a class="fa fa-instagram" href="https://www.instagram.com/jd_justdial/"></a>
      <a class="fa fa-facebook" ></a>
      <a class="fa fa-twitter" ></a>
      <a class="fa fa-youtube" ></a>
  </div>
    <p class="copyright" routerLink="about"><u> &copy; Company JUSTDEAL </u>, inc.All Right Reserved</p>
</section>
