.form{
    margin-left: 430px;
    margin-top: 10px;
}
h1{
    margin-top: 70px;
    text-align: center;
}
span{
    margin-left: 60px;
}
.col-md-6{
    margin-top: 20px;
    margin-left: 40px;
}
.btn{
    margin-left: 110px;
}