<div class="facilities">
    <table class="table" [cellPadding]="10">
        <tr>
            <td routerLink="/contractor-type/{{builder}}">
                <span class="text"> Builder </span><span><img src="../../../assets/all/builder 2.jpg" class="f-img"></span>
            </td>
            <td routerLink="/contractor-type/{{architech}}">
                <span class="text">&nbsp;&nbsp;&nbsp;&nbsp; Architech</span><span><img src="../../../assets/all/architech 3.jpg"
                        class="f-img"></span>
            </td>
        </tr>
    </table>
</div>