<form [formGroup]="editform">
    <input type="hidden" name="id" formControlName="id">
    <div class="col-md-4">
      <label for="input" class="form-label">Traveller</label>
      <input type="text" class="form-control" id="input" formControlName="traveller" name="traveller">
      <span style="color:red" *ngIf="traveller && traveller.invalid && traveller.touched"> Character only & Minimum 3 Character</span>
    </div>
    <div class="col-md-4">
      <label for="input" class="form-label">Image &nbsp;&nbsp;</label><label style="color: red;"> * Reupload photo </label>
      <input type="file" class="form-control" id="input" formControlName="image" name="image">
    </div>
    <div class="col-md-4">
      <label for="input" class="form-label">City</label>
      <input type="text" class="form-control" id="input" formControlName="city" name="city">
    </div>
    <div class="col-md-4">
      <label for="input" class="form-label">Mobile</label>
      <input type="text" class="form-control" id="input" formControlName="mobile" name="mobile">
    </div>
    <div class="col-6">
      <label for="input" class="form-label">Price</label>
      <input type="text" class="form-control" id="input" placeholder="price" formControlName="price" name="price">
    </div>
    <div class="col-md-6">
      <button class="btn btn-primary" (click)="edit()">Edit BUS</button>
    </div>
  <!-- <button routerLink="/app-admin">SHOW DATA</button> -->
</form>
