<div class="facilities">
    <table class="table" [cellPadding]="10">
      <tr>
        <td routerLink="/beauty-type/{{boys}}">
          <span class="text"> Boys </span><span><img src="../../../assets/all/beauty boy 5.jpg" class="f-img"></span>
        </td>
        <td routerLink="/beauty-type/{{girls}}">
          <span class="text">&nbsp;&nbsp;&nbsp;&nbsp; Girls</span><span><img src="../../../assets/all/beauty girl.jpg"
              class="f-img"></span>
        </td>
        <td routerLink="/beauty-type/{{family}}">
          <span class="text">&nbsp;&nbsp;&nbsp;&nbsp; Family</span><span><img src="../../../assets/all/beauty family 1.jpg"
              class="f-img"></span>
        </td>
      </tr>
    </table>
  </div>
