<div class="facalities">
<table class="table" [cellSpacing]="10">
    <tr>
      <td routerLink="/skin/{{brain}}">
        <span class="text" > Brain </span><span><img src="../../../assets/all/brain.jpg" class="f-img"></span>
      </td>
      <td routerLink="/skin/{{skin}}"> 
        <span class="text">&nbsp;&nbsp;&nbsp;&nbsp; Skin</span><span><img src="../../../assets/all/skin.jpg" class="f-img"></span>
      </td>
      <td routerLink="/skin/{{eye}}" >
        <span class="text">&nbsp;&nbsp;&nbsp; Eye</span><span><img src="../../../assets/all/doctor.jpg" class="f-img"></span>
      </td>
    </tr>
    <tr>
      <td routerLink="/bones" >
        <span class="text">Bones</span><span><img src="../../../assets/all/bones.jpg" class="f-img"></span>
      </td>
      <td routerLink="/ears" >
        <span class="text">&nbsp;&nbsp;&nbsp;&nbsp; Ears</span><span><img src="../../../assets/all/doctor.jpg" class="f-img"></span>
      </td>
      <td routerLink="/blood" >
        <span class="text">&nbsp; Blood</span><span><img src="../../../assets/all/blood.jpg" class="f-img"></span>
      </td>
    </tr>
    <tr>
      <td routerLink="/dentist" >
        <span class="text">Dentist</span><span><img src="../../../assets/all/doctor.jpg" class="f-img"></span>
      </td>
      <td routerLink="/urologists" >
        <span class="text">Urologist</span><span><img src="../../../assets/all/doctor.jpg" class="f-img"></span>
      </td>
      <td routerLink="/children" >
        <span class="text">Children</span><span><img src="../../../assets/all/doctor.jpg" class="f-img"></span>
      </td>
    </tr>
  </table>
</div>