<form [formGroup]="addform">
    <div class="col-md-4">
      <label for="input" class="form-label">Doctor Full Name</label>
      <input type="text" class="form-control" id="input" formControlName="name">
      <span style="color:red" *ngIf="name && name.invalid && name.touched"> Character only & Minimum 3 Character</span>
    </div>
    <div class="col-md-4">
      <label for="input" class="form-label">Image &nbsp;&nbsp;</label><label style="color: red;"> * Reupload photo </label>
      <input type="file" class="form-control" id="input" formControlName="image">
    </div>
    <div class="col-md-4">
      <label for="input" class="form-label">time</label>
      <input type="text" class="form-control" id="input" formControlName="time">
      <span style="color:red" *ngIf="time && time.invalid && time.touched"> FORMAT : [ 10-am to 10-pm ] & Minimum 10 Character</span>
    </div>
    <div class="col-md-4">
      <label for="input" class="form-label">Address</label>
      <input type="text" class="form-control" id="input" formControlName="address">
      <span style="color:red" *ngIf="address && address.invalid && address.touched" >  Minimum 10 & Maximum 40 Character</span>
    </div>
    <div class="col-md-4">
      <label for="input" class="form-label">Mobile No.</label>
      <input type="text" class="form-control" id="input" formControlName="mobile">
      <span style="color:red" *ngIf="mobile && mobile.invalid && mobile.touched"> Number only & Minimum 10 Character</span>
    </div>
    <div class="col-md-4">
      <label for="input" class="form-label">City</label>
      <input type="text" class="form-control" id="input" formControlName="city">
      <span style="color:red" *ngIf="city && city.invalid && city.touched"> Character only & Minimum 4 Character</span>
    </div>
    <div class="col-md-4">
      <label for="input" class="form-label">Sunday <u>( Open/Close )</u> </label>
      <!-- <input type="text" class="form-control" id="input" formControlName="sunday"> -->
      <br>
      <mat-radio-group formControlName="sunday">
        <mat-radio-button value="open" >Open</mat-radio-button>
        <mat-radio-button value="close" >Close</mat-radio-button>
      </mat-radio-group>
      <span style="color:red" *ngIf="sunday && sunday.invalid && sunday.touched"> Select One</span>
    </div>
    <div class="col-md-6">
      <label for="input" class="form-label">FIELD</label>
      <select id="input" class="form-select" formControlName="field">
        <option selected value="">Select One</option>
        <option value="brain">Brain</option>
        <option value="bones">Bones</option>
        <option value="skin">Skin</option>
        <option value="eye">Eye</option>
        <option value="ears">Ears</option>
        <option value="nose">Nose</option>
      </select>
      <span style="color:red" *ngIf="field && field.invalid && field.touched"> Select Field </span>

    </div>
    <div class="col-md-6">
      <button class="btn btn-primary" (click)="add()" [disabled]="addform.invalid" >Add Doctor</button>
    </div>
</form>


