<div class="facilities">
    <table class="table" [cellPadding]="10">
      <tr>
        <td routerLink="/education-type/{{school}}">
          <span class="text"> School </span><span><img src="../../../assets/all/school 1.jpg" class="f-img"></span>
        </td>
        <td routerLink="/education-type/{{college}}">
          <span class="text">&nbsp;&nbsp;&nbsp;&nbsp; College</span><span><img src="../../../assets/all/college 3.jpg"
              class="f-img"></span>
        </td>
        <td routerLink="/education-type/{{computer}}">
          <span class="text">&nbsp;&nbsp;&nbsp;&nbsp; Computer</span><span><img src="../../../assets/all/class 2.jpg"
              class="f-img"></span>
        </td>
      </tr>
    </table>
  </div>
