<section class="main">
  <div class="slide-wrap">
    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item">
          <img src="assets/real-estate.jpg" class="d-block">
        </div>
        <div class="carousel-item">
          <img src="assets/chrismas.jpg" class="d-block">
        </div>
        <div class="carousel-item active">
          <img src="assets/real-estate2.jpg" class="d-block" routerLink="/real-estate">
        </div>
      </div>
    </div>
  </div>

  <!-- assets/chrismas.jpg  assets/real-estate.jpg  assets/real-estate2.jpg -->
  <div class="facalities">
    <table class="table">
      <tr>
        <td routerLink="restaurant">
          <span class="text">RESTAURANTS</span><span><img src="assets/restaurant.jpg" class="f-img"></span>
        </td>
        <td routerLink="doctor">
          <span class="text">&nbsp;&nbsp;&nbsp;&nbsp; DOCTOR</span><span><img src="assets/doctor.jpg" class="f-img"></span>
        </td>
        <td routerLink="contractor">
          <span class="text">CONTRACTOR</span><span><img src="assets/contractor.jpg" class="f-img"></span>
        </td>
      </tr>
      <tr>
        <td routerLink="consultant">
          <span class="text">CONSULTANT</span><span><img src="assets/consultant.jpg" class="f-img"></span>
        </td>
        <td routerLink="display-travel">
          <span class="text">TRAVELLER</span><span><img src="assets/all/bus.jpg" class="f-img"></span>
        </td>
        <td routerLink="real-estate">
          <span class="text">REAL ESTATE</span><span><img src="assets/real-estate home.jpg" class="f-img"></span>
        </td>
      </tr>
      <tr>
        <td routerLink="repair">
          <span class="text">REPAIR &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span><img
              src="assets/repair.jpg" class="f-img"></span>
        </td>
        <td routerLink="beauty">
          <span class="text">&nbsp;&nbsp;&nbsp;&nbsp; BEAUTY</span><span><img src="assets/beauty.jpg" class="f-img"></span>
        </td>
        <td routerLink="vehicle">
          <span class="text">VEHICLE &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span><img
              src="assets/vehicle.jpg" class="f-img"></span>
        </td>
      </tr>
      <tr>
        <td routerLink="education">
          <span class="text">EDUCATION</span><span><img src="assets/education.jpg" class="f-img"></span>
        </td>
        <td routerLink="grocery">
          <span class="text">GROCERY</span><span><img src="assets/grocery.jpg" class="f-img"></span>
        </td>
        <td routerLink="decoration">
          <span class="text">DECORATION </span><span><img src="assets/decoration.jpg" class="f-img"></span>
        </td>
      </tr>
    </table>
  </div>
</section>

<app-footer></app-footer>